<div class="row">
  <div class="col-sm-6">
    <a href="index.php?route=account/login"><div class="imag"><img src="image/logos/001.png" class="img-responsive" /></div></a>
      <a href="index.php?route=account/login" class="btn btn-primary btn-lg btn-block">Я покупатель</a>
  </div>
  <div class="col-sm-6">
      <a href="index.php?route=extension/account/purpletree_multivendor/sellerlogin"><div class="imag"><img src="image/logos/002.png" class="img-responsive" /></div></a>
      <a href="index.php?route=extension/account/purpletree_multivendor/sellerlogin" class="btn btn-primary btn-lg btn-block">Я продавец</a>
  </div>
</div>
<style>.modal-header {display:none;}</style>