# Config and Htaccess Files
/.htaccess
/config.php
/admin/config.php

# Image File
!/image/no_image.jpg

# Image Cache Files
/image/cache/*
!/image/cache/index.html

# System Cache Files
/storage-mnogo/cache/*
!/storage-mnogo/cache/index.html
/system/storage/cache/*
!/system/storage/cache/index.html

# Modification Files
/storage-mnogo/modification/*
!/storage-mnogo/modification/index.html
/system/storage/modification/*
!/system/storage/modification/index.html

# Templates Files
/image/templates/*
/image/templates/default.jpg

# Download Files
/storage-mnogo/download/*
!/storage-mnogo/download/index.html
/system/storage/download/*
!/system/storage/download/index.html

# Session Files
/storage-mnogo/session/*
!/storage-mnogo/session/index.html
/system/storage/session/*
!/system/storage/session/index.html

# Upload Files
/storage-mnogo/upload/*
!/storage-mnogo/upload/index.html
/system/storage/upload/*
!/system/storage/upload/index.html

# Flags
# remove sharp char if you want to add flags to gitignore
# /upload/flags/*

# Log Files
/storage-mnogo/logs/*
!/storage-mnogo/logs/index.html
/system/storage/logs/*
!/system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /upload/backup.install/*
# /upload/install/*

# Ignore all vendor files included by composer and the lock file
/tests/phpunit/vendor/*
/tests/phpunit/composer.lock

catalog/view/theme/default/stylesheet/ocfilter/ocf.cache*

# Test Config File
/tests/phpunit/bootstrap.php

# IDE Project files
/.idea
*.DS_Store
