<script src="//www.google.com/recaptcha/api.js" type="text/javascript"></script>
<div class="form-group required">{% if route|slice(0, 9) == 'checkout/' %}
  <div id="input-payment-captcha" class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
  {% if error_captcha %}
  <div class="text-danger">{{ error_captcha }}</div>
  {% endif %}
  {% else %}
  <div class="col-sm-10">
    <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
    {% if error_captcha %}
    <div class="text-danger">{{ error_captcha }}</div>
    {% endif %}</div>
  {% endif %}
</div>
